@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Academician Yangel Street 5<br />
    Kiev, 03056 <br />
    <abbr title="Phone">+380986600535</abbr>
    
</address>

<address>
    <strong>Email</strong>   <a href="zastavnyk95@gmail.com">zastavnyk95@gmail.com</a><br />
</address>