
@{

    ViewBag.Title = "Home Page";
}

<h4>
    <p>Тестове завдання з розробки форми реєстрації:</p>
    <p>- розробити форму реєстрації користувача.</p>
    <p>- провести валідацію усіх введених данних </p>
    <p>- провести валідацію як на стороні клієнта так на стороні сервера.</p>
</h4>
